
body {
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#textbox {
  padding: 10px 15px;
  font-size: 16px;
  width: 300px;
  border: 2px solid #007bff;
  border-radius: 5px;
  outline: none;
}

#textbox:focus {
  border-color: #0056b3;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.start-clock {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
#clock {
  font-size: 50px;
  font-weight: bold;
  margin-top: 20px;
  color: #333;
}