<!-- Start Footer -->
<footer>
  <div class="container footer-grid">
    <div class="col1">
      <div class="logo">
        <img src="./images/logo.png" alt="Fundly Logo" />
      </div>
      <p>Generate outside the box thinking with the possibility to target the low.</p>
      <form action="#">
        <input type="email" placeholder="Enter your email" />
        <button type="submit">Submit</button>
      </form>
    </div>
    <div class="col2">
      <h3>Quick Links</h3>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="campaigns.html">My Campaigns</a></li>
        <li><a href="login.html">Login</a></li>
        <li><a href="register.html">Register</a></li>
      </ul>
    </div>
  </div>
  <p>&copy; 2026 <span style="color: var(--primary)">Fundly.</span> All rights reserved.</p>
</footer>
<!-- End Footer -->
